[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Tensors and Dynamic neural networks in Python with strong GPU acceleration
[access "refs/*"]
	owner = group user/Kerry Zeng (zengk95)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Kerry Zeng (zengk95)
	label-Verified = -1..+1 group user/Kerry Zeng (zengk95)
	push = group user/Kerry Zeng (zengk95)
	read = group user/Kerry Zeng (zengk95)
	rebase = group user/Kerry Zeng (zengk95)
	removeReviewer = group user/Kerry Zeng (zengk95)
	submit = group user/Kerry Zeng (zengk95)
[access "refs/heads/*"]
	create = group user/Kerry Zeng (zengk95)
	push = +force group user/Kerry Zeng (zengk95)
	pushMerge = group user/Kerry Zeng (zengk95)
	read = group user/Kerry Zeng (zengk95)
[access "refs/tags/*"]
	push = group user/Kerry Zeng (zengk95)
	push = +force group user/Kerry Zeng (zengk95)
